

@using Microsoft.AspNetCore.Identity
@using MVC_Project_Facebook_Application.Core.Domain
@inject SignInManager<MyUser> SignInManager
@inject UserManager<MyUser> UserManager



<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Facebook</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
       .xx{
           margin-left:5px;
          
       }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow mb-3 p-3">
            <div class="container">
                <a class="navbar-brand font-weight-bold " href="/user/Index">FaceBook</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>




                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/user/Index">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/profile">Profile</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link " href="/Identity/Account/Manage/ChangePassword">Settings</a>
                        </li>
                        <li class="nav-item">

                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "User", new { area = "" })">
                                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>

                            </form>
                        </li>
                        
                    </ul>

                    <form class="form-inline my-2 my-lg-0 ">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search" id="searchArea" name="inp">
                        <button class="btn btn-outline-dark my-2 my-sm-0" type="button"
                                onclick="searchClick()">Search</button>
                        @if (this.User.IsInRole("Admin")) {
                         <a class="btn btn-outline-dark my-2 my-sm-0 xx" href="/admin/adminsearch">SearchAdmin</a>
                        }
                    </form>
                </div>


                @*     <a class="nav-item font-weight-bold navbar-brand " href="https://localhost:44329/user/Index"> FaceBook</a>

            <form class="form-inline my-2 my-lg-0 uu">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" id="searchArea">
                <button class="btn btn-outline-dark my-2 my-sm-0" type="button" onclick="searchClick()">Search</button>
            </form>

            <div class="collapse navbar-collapse mr-2   b" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="https://localhost:44329/user/Index">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://localhost:44329/user/profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  href="https://localhost:44329/Identity/Account/Manage/ChangePassword">Settings</a>
                    </li>
                    <li class="nav-item">

                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "User", new { area = "" })">
                            <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                        </form>
                    </li>
                </ul>
                @*<form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit" onclick="searchClick()">Search</button>
        </form>
            </div>*@


            </div>

        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <ul class="list-group" id="result" onmouseleave="closeSearchBox()"></ul>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - MVC_Project_Facebook_Application
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/NavbarSearch.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
